@import "tailwindcss";
@layer utilities {
    .scrollbar-none {
      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Edge */
      }
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        background-color: transparent !important;
        -webkit-box-shadow: 0 0 0 50px rgb(37, 99, 235) inset !important;
        -webkit-text-fill-color: white !important;
        color: white !important;
    }
  }

